.usersWrapper {
    padding-top: 20px;
}

.user {
    display: flex;
}

.userInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
    width: 150px;
}

.userInfo img {
    width: 50px;
}

.userStatus {
    display: flex;
    flex-direction: column;
}

.paginationUsers {
    padding: 20px;
}

.paginationUsers span {
    cursor: pointer;
    margin: 3px;
    border: solid darkgrey 2px;
    border-radius: 5px;
    padding: 2px;
    color: darkslategrey;
    background-color: antiquewhite;
}

.activePage {
    font-weight: bold;
    font-size: 22px;
}
