.freindsbar {
  margin-top: 50px;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.title {
  /* margin-bottom: 20px; */
  font-size: 20px;
}
