.header {
    grid-area: h;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 100px;
    height: 100px;
}

.userAuth {
    color: darkorange;
    font-size: 20px;
    font-weight: bold;
    padding-right: 25px;
}

.userAuth button {
  display: block;
  margin: 5px auto;
}