.person {
  display: flex;
  align-items: center;
  width: 100px;
  margin-bottom: 20px;
}

.person img {
  width: 50px;
  height: 50px;
}

.name {
  color: rgb(2, 83, 56);
  display: block;
  margin-left: 20px;
}

.namesList {
  grid-area: names;
}

.active {
  color: red;
}
