.profileInfoPhoto {
    grid-area: photo;
    position: relative;


}

.profileData {
    grid-area: info;
}

.profileInfoPhoto {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
}

.uploadPhotoLabel {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100px;
    height: 20px;
    border: 3px solid #678cd6;
    border-radius: 4px;
    color: #678cd6;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}


.uploadPhotoInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.uploadPhotoButton {
    opacity: 0;
}

.uploadPhotoButton:hover {
    opacity: 1;
    transition: 1s;
}

.profileInfoPhoto:hover+.uploadPhotoButton {
    opacity: 1;
    transition: 1s;
}

.inputField {
    /*width: 350px;*/
    display: flex;
    justify-content: space-between;
}

form {
    width: 350px;
}

.contact {
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
}


.serverError {
    font-size: 24px;
    font-weight: bold;
    color: red;
}
