.loginWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 190px;
}

.serverError {
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.rememberMe {
    display: flex;
}